<!-- context here is called object -->
{% extends "blog/base.html" %} {% block content %}
<!-- when we use DetailView it expects the context of this template to be called object
    we can change that in class with attribute -->
<article class="media content-section">
  <img
    class="rounded-circle article-img"
    src="{{ post.author.profile.image.url }}"
    alt=""
  />
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ object.author }}</a>
      <!-- https://docs.djangoproject.com/en/4.0/ref/templates/builtins/#date -->
      <small class="text-muted"
        >{{ object.date_posted|date:'d(D)-M-Y H:i' }}</small
      >
      <!-- user is currently logged in user -->
      {% if object.author == user %}
      <a
        class="btn btn-secondary btn-sm mt-1 mb-1"
        href="{% url 'post_update' object.id %}"
        >Update Post</a
      >
      <a
        class="btn btn-danger btn-sm mt-1 mb-1"
        href="{% url 'post_delete' object.id %}"
        >Delete Post</a
      >
      {% endif %}
    </div>
    <h2 class="article-title">{{ object.title }}</h2>
    <p class="article-content">{{ object.content }}</p>
  </div>
</article>
{% endblock content %}
